@model FPT_Book_Khôi_Phi.Areas.Authenticated.Controllers.CategoriesController
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">Import from Excel</button>
</form>